In [1]:
print("Inteligência Artificial")

Inteligencia Artificial

In [ ]:
pip install pandas

In [3]:
import pandas as pd #importa biblioteca pandas

In [32]:
#Cria o dicionário
Dicionario = {
    "A":[1,2,3,4],
    "B":[5,6,7,8],
    "C":[9,10,11,12]}
Labels=["1ª linha","2ª linha", "3ª linha","4ª linha"]

In [33]:
dados = pd.DataFrame(Dicionario, index= Labels)

In [ ]:
dados.head() #exibe as 4 primeiras linhas da base de dados

In [ ]:
dados.head(2) #exibe as 2 primeiras linhas

In [ ]:
dados.tail()# rxibe as 4 ultimas linhas do dataframe

In [ ]:
dados.tail(3)# exibe as 3 ultimas linhas

In [ ]:
dados.describe() # informações estatísticas dos dados

In [ ]:
dados.info() #descreve informações sobre os dados

In [39]:
dados['D']=dados['B']*dados['C'] # multiplicação de colunas do DF

In [ ]:
dados.head()

In [ ]:
dados .drop('B',axis=1) # exclui a coluna B

In [ ]:
dados.head()

In [42]:
dados.drop('B',axis=1,inplace=True) #exclui a couna B 
                                    # o inplace permite a exclusão de uma coluna na base de dados original

In [ ]:
dados.head()

In [ ]:
dados.loc["3ª linha"]

In [ ]:
dados.loc["3ª linha"]

In [ ]:
dados.loc[["3ª linha", "2ª linha"],["A","C"]] #bsca mais de uma linha e coluna do dataframe

In [47]:
dados.iloc[0:2] #iloc é para exibir linhas a partir do ndice posição

          A   C   D
1ª linha  1   9  45
2ª linha  2  10  60

In [50]:
dados.iloc[0:2,0:2]

          A   C
1ª linha  1   9
2ª linha  2  10

In [52]:
dados['A'] > 0 # filtro

1ª linha    True
2ª linha    True
3ª linha    True
4ª linha    True
Name: A, dtype: bool

In [53]:
Filtro = dados['A'] > 0 # armazena o resultado na variavel filtro

In [54]:
Filtro

1ª linha    True
2ª linha    True
3ª linha    True
4ª linha    True
Name: A, dtype: bool

In [55]:
dados['Filtro'] = Filtro # armazena o filtro nessa base de dados

In [56]:
dados.head()

          A   C   D  Filtro
1ª linha  1   9  45    True
2ª linha  2  10  60    True
3ª linha  3  11  77    True
4ª linha  4  12  96    True

In [60]:
dados[(dados['A']>2) & (dados['C']>2)] # filtra na coluna A e C

          A   C   D  Filtro
3ª linha  3  11  77    True
4ª linha  4  12  96    True

In [61]:
dados.reset_index()

      index  A   C   D  Filtro
0  1ª linha  1   9  45    True
1  2ª linha  2  10  60    True
2  3ª linha  3  11  77    True
3  4ª linha  4  12  96    True

In [62]:
dados.set_index('C') # altera o index do dataframe

    A   D  Filtro
C
9   1  45    True
10  2  60    True
11  3  77    True
12  4  96    True

In [64]:
Dicionario_1={
    'A':[10,20,30,40],
    'B':[50,60,70,80],
    'C':[90,100,110,120],
    'Chaves':['AA','BB','CC','DD']
    }
Dicionario_2={
    'A':[5,10,15,20],
    'B':[35,70,105,140],
    'C':[100,200,300,400],
    'Chaves':['AA','BB','CC','DD']
    }
Dicionario_3={
    'A':[-10,-20,-30,-40],
    'B':[25,50,75,100],
    'C':[90,100,110,120],
    'Chaves':['AA','BB','CC','DD']
    }
Labels_1=['1ª linha','2ª linha','3ª linha','4ª linha']
Labels_2=['5ª linha','6ª linha','7ª linha','8ª linha']
Labels_3=['9ª linha','10ª linha','11ª linha','12ª linha']

In [65]:
df1 = pd.DataFrame(Dicionario_1, index=Labels_1)
df2 = pd.DataFrame(Dicionario_2, index=Labels_2)
df3 = pd.DataFrame(Dicionario_3, index=Labels_3)

In [66]:
dados_df = pd.concat([df1,df2,df3]) # junta os dataframes desde que todos tenham a mesma estrutura

In [67]:
dados_df.head(10) # exibe o dataframe unificado

            A    B    C Chaves
1ª linha   10   50   90     AA
2ª linha   20   60  100     BB
3ª linha   30   70  110     CC
4ª linha   40   80  120     DD
5ª linha    5   35  100     AA
6ª linha   10   70  200     BB
7ª linha   15  105  300     CC
8ª linha   20  140  400     DD
9ª linha  -10   25   90     AA
10ª linha -20   50  100     BB

In [69]:
df_n = pd.merge(df1,df2,how='inner',on='Chaves') # une o dataframe a partir da semelhança das chaves nas colunas

In [70]:
df_n.head()

   A_x  B_x  C_x Chaves  A_y  B_y  C_y
0   10   50   90     AA    5   35  100
1   20   60  100     BB   10   70  200
2   30   70  110     CC   15  105  300
3   40   80  120     DD   20  140  400

In [71]:
df_l = pd.merge(df1,df2,how='left',on='Chaves')

In [72]:
df_l.head()

   A_x  B_x  C_x Chaves  A_y  B_y  C_y
0   10   50   90     AA    5   35  100
1   20   60  100     BB   10   70  200
2   30   70  110     CC   15  105  300
3   40   80  120     DD   20  140  400

In [74]:
Dicionario_1={
    'A':[10,20,30,40],
    'B':[50,60,70,80],
    'C':[90,100,110,120],
    }
Dicionario_3={
    'D':[10,20,30,40],
    'E':[1,2,3,4],
    'F':[7,8,9,10],    
    }
Labels_n=['1ª linha', '2ª linha', '3ª linha','4ª linha']

In [78]:
Dataframe1= pd.DataFrame(Dicionario_1,index=Labels_1)
Dataframe3= pd.DataFrame(Dicionario_3,index=Labels_1)

In [79]:
Dataframe1.join(Dataframe3)

           A   B    C   D  E   F
1ª linha  10  50   90  10  1   7
2ª linha  20  60  100  20  2   8
3ª linha  30  70  110  30  3   9
4ª linha  40  80  120  40  4  10