In [1]:
import pandas as pd #importa biblioteca pandas

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
                                         #Exercício 1
Dicionario_exe1= {
 "Nomes":["Alice","Julia","Bruna","Daniel","Filipe","Silvio"],
 "Idade":[19,22,28,34,28,48],
 "Profissões":["Direito","Engenharia","Enfermagem","Engenheiro Civil","Cientista da Computação","Engenheiro eletrônico"],
 "ID":[1,2,3,4,5,6]
}
Labels=["1ª linha","2ª linha","3ª linha","4ª linha","5ª linha","6ª linha"]

In [6]:
dados= pd.DataFrame(Dicionario_exe1, index=Labels)

In [7]:
dados.head(6)

           Nomes  Idade               Profissões  ID
1ª linha   Alice     19                  Direito   1
2ª linha   Julia     22               Engenharia   2
3ª linha   Bruna     28               Enfermagem   3
4ª linha  Daniel     34         Engenheiro Civil   4
5ª linha  Filipe     28  Cientista da Computação   5
6ª linha  Silvio     48    Engenheiro eletrônico   6

In [8]:
                                        #Exercício 2
Dicionario_exe2={
    "Produtos":[50,30,40,100],
    "Setores":[1,2,3,4]
}
Labels_1=["1ª linha","2ª linha","3ª linha","4ª linha"]

In [9]:
dados2= pd.DataFrame(Dicionario_exe2,index=Labels_1)

In [10]:
dados2.head()

          Produtos  Setores
1ª linha        50        1
2ª linha        30        2
3ª linha        40        3
4ª linha       100        4

In [16]:
                                     #Exercício 3
Dicionario_exe3 ={
    "id":[1,2,3,4],
    "Nome":["Ana","Pedro","Maria","João"],
    "Setores":["RH","Vendas","Administrativo","Produção"],
    'Chaves':['AA','BB','CC','DD']
}
Dicionario_exe3_1={
    "Id":[1,2,3,4],
    "Salários":[3000,2800,3200,2500],
    'Chaves':['AA','BB','CC','DD']
}

Labels_2 =["1ª linha","2ª linha","3ª linha","4ª linha"]
Labels_3 =["5ª linha","6ª linha","7ª linha","8ª linha"]

In [18]:
df1 = pd.DataFrame(Dicionario_exe3, index=Labels_2)
df2 = pd.DataFrame(Dicionario_exe3_1, index=Labels_3)

In [21]:
df_juntos = pd.merge(df1,df2,how='inner',on='Chaves')

In [22]:
df_juntos.head()

   id   Nome         Setores Chaves  Id  Salários
0   1    Ana              RH     AA   1      3000
1   2  Pedro          Vendas     BB   2      2800
2   3  Maria  Administrativo     CC   3      3200
3   4   João        Produção     DD   4      2500

In [3]:
                            #Exercício 4
empresa1={
    "Data":["2023-01-01","2023-01-02","2023-01-03"],
    "Produto":["Item A","Item B","Item A"],
    "Quantidade":[10,5,8],
    "Valor":[100.00,50.00,80.00]
}
empresa2={
    "Data":["2023-02-01","2023-02-02","2023-02-03"],
    "Produto":["Item C","Item B","Item C"],
    "Quantidade":[12,6,3],
    "Valor":[120.00,60.00,30.00]
}

Labels_4=["1ª linha","2ª linha","3ª linha"]
Labels_5=["4ª linha","5ª linha","6ª linha"]

In [7]:
dfE1 = pd.DataFrame(empresa1, index=Labels_4)
dfE2 = pd.DataFrame(empresa2, index=Labels_5)

In [8]:
print(dfE1.head())
print(dfE2.head())

                Data Produto  Quantidade  Valor
1ª linha  2023-01-01  Item A          10  100.0
2ª linha  2023-01-02  Item B           5   50.0
3ª linha  2023-01-03  Item A           8   80.0
                Data Produto  Quantidade  Valor
4ª linha  2023-02-01  Item C          12  120.0
5ª linha  2023-02-02  Item B           6   60.0
6ª linha  2023-02-03  Item C           3   30.0